.page {
  max-width: 1280px;
  min-width: 320px; 
  margin: 0 auto;
  box-sizing: border-box;
  font-family: 'Inter', Arial, sans-serif;
  color: #fff;
  background-color: #2A2C2F;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
  text-rendering: optimizeLegibility;
}