.lead {
  max-width: 984px; 
  margin: 0 auto;
  padding: 56px 0 0;
}

@media screen and (max-width: 1024px) {
  .lead {
    max-width: 928px;
    padding: 56px 0px 0px;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    max-width: 768px;
  }
}