.intro__text {
  margin: 40px 0 33px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
}

@media screen and (max-width: 320px) {
  .intro__text {
    margin-bottom: 34px;
  }
}