.cover__title {
  max-width: 560px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  z-index: 2;
  margin: 0 0 32px;
}

@media screen and (max-width: 320px) {
  .cover__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
  }  
}