.footer {
  max-width: 1184px; 
  margin: 0 auto 24px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1280px) {
  .footer {
    margin: 0px 48px 24px;
  }
}

@media screen and (max-width: 1024px) {
  .footer {
    margin: 0 24px 24px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: 720px;
    flex-direction: column;
  }
}

@media screen and (max-width: 320px) {
  .footer {    
    margin: 16px 16px 0;
  }
}

