.places__item {
  list-style-type: none;
  display: grid;
  grid-template-columns: minmax(460px, 1fr) minmax(484px, 1fr);
  gap: 48px 40px;
  padding: 40px 0;
}

@media screen and (max-width: 1024px) {
  .places__item {
    grid-template-columns: minmax(440px, 1fr) minmax(456px, 1fr);
    gap: 48px 32px;
  }
}

@media screen and (max-width: 768px) {
  .places__item {
    grid-template-columns: minmax(340px, 1fr) minmax(352px, 1fr);
    gap: 48px 28px;
    padding: 36.5px 0;
  }
}

@media screen and (max-width: 320px) {
  .places__item {
    grid-template-columns: 320px;
    grid-template-rows: max-content;
  }
}
